* {
  box-sizing: border-box;
}

/* Header */

.Header {
  text-align: center;
  background-color: #4e11f7;
  height: 150px;
  padding: 20px;
  color: #ffab35;
  font-size: 60px;
  margin-top: auto;
  align-content: center;
  font-family: 'Press Start 2P', cursive;
}


/* Buttons */
.ButtonMain {
  border-radius: 12px;
  height: 150px;
  width: 50%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Press Start 2P', cursive;
}

.ButtonBbq {
  background-color: orange;
}

.ButtonBurger {
  background-color: #68e2a3;
}

.ButtonTaco {
  background-color: #9876f7;
}

.ButtonHead {
  text-align: center;
  padding: 20px;
}

h1, h2, h3, h4 {
  text-align: center;
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
}


.myButton {
  color: #40C9A2;
  font-size: 15px;
  line-height: 30px;
  padding: 30px;
  border-radius: 16px;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;}
  .myButton:hover {
  background: #D90368; }
  .myButton:active {
  background: #D90368; }
  

p {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: 35px;
  color: #FF0000;
}
.Tacos img{
  width: 50%;
}

.Burgers img{
  width: 50%;
}

.BBQ img{
  width: 50%;
}

/* Rankings CSS under here */
