* {
  box-sizing: border-box;
}

/* Header */

.Header {
  text-align: center;
  background-color: #4e11f7;
  height: 150px;
  padding: 20px;
  color: #ffab35;
  font-size: 40px;
  margin-top: auto;
  align-content: center;
}


/* Buttons */
.ButtonMain {
  border-radius: 12px;
  height: 150px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ButtonBbq {
  background-color: orange;
}

.ButtonBurger {
  background-color: #68e2a3;
}

.ButtonTaco {
  background-color: #9876f7;
}

.ButtonHead {
  text-align: center;
}
